*{
    padding: 0 !important;
    box-sizing: border-box !important;
}
.main{
    width: 100%;
}
/* ---------------nav----------------*/ 
.container-nav{
    height: 12vh;
}
.ul-container{
    width: 40vw;
}
#image-header{
    height: 5vh;
}
/* ---------------header h1----------------*/ 
.container-header{
    background-color: rgba(146, 145, 145, 0.247) !important;
    height: 25vh;
}
/* ---------------check---------------*/ 
.container-check{
    height:10vh ; 
    width: 100%;
}
.container-check-search{
    height:10vh ; 
    width: 70vw;
    display: flex!important;
    justify-content: space-between!important;
    padding: 5vh!important;
    
}
/* ---------------search---------------*/ 
.container-search-bar{
    width: 30vw;
    padding: 3vh !important;
}
/* ---------------cards---------------*/

.card-image{
    height: 27vh;
    padding: 2vh !important;
}
.container-cards{
    width: 100% !important; 
    height: 100%;
    margin: 2 !important;
    padding: 2 !important;
}
.container-cards-past{
    width: 100% !important; 
    margin: 2 !important;
    padding: 2 !important;
}
.container-cards-upcomming{
    width: 100% !important; 
    margin: 2 !important;
    padding: 2 !important;
}
.container-card{
    width: 20vw;
    height: 25rem;
    margin: 2vh !important;
    padding: 0 !important;
    
}
.container-card-inf{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.p-price{
    margin: 0;
    margin-left: 1vh;
}
.container-card-body{
    width: 95%;
    margin-left: 0.2vh !important;
}

/* ---------------footer---------------*/ 
.container-footer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.logo-footer{
    height: 7vh;
    margin-left: 4vh;
}
.conteiner-img-logo{
    width: 80vw;
}
/* ---------------Form--------------*/
.content-form{
    width: 50vw !important;
    padding: 5vh !important;
}
.conteiner-section{
    height: 57vh !important;
}
/* ---------------Table---------------*/
table{
    border: solid 5px;
    background-color: aliceblue;
}
.container-table{
    width: 100% !important; 
    height: 90vh;
    margin: 0 !important;
    padding: 0 !important;
    
}
th, td{
    border: solid 2px;
    padding: 0.2vh!important;
    height: 3.5vh;
}
.events-satics-container{
    height: 7vh;
    background-color: rgb(150, 154, 163) !important;
}
/* ---------------Card detail---------------*/
.container-card-detail{
    width: 100% !important; 
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgba(197, 197, 197, 0.548) !important;
    
}
.card-detail{
    height: 70vh;
    width: 80vw;
    display: flex;
    border-radius: 30px !important;
    justify-content: space-around;
    
}
.container-imgn-card-detail{
    height: 70vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px !important;
    background-color: rgb(255, 255, 255);
}

.container-txtcard{
    height: 52vh;
    width: 30vw;
    display: flex;
    
    background-color: rgb(206, 206, 206);
    -webkit-box-shadow: 24px 25px 43px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: 24px 25px 43px -31px rgba(0,0,0,0.75);
    box-shadow: 24px 25px 43px -31px rgba(0,0,0,0.75);
    border-radius: 20px!important;
}
.container-imagen-card-detail{
    height: 58vh;
    width: 35vw;
    display: flex;
    background-color: rgb(206, 206, 206)
}
#contenedordeimagen{
    
    height: 75%;
    width: 75%;
    
    
    
}
.card-img-top{
     object-fit: content;
  width:100%;
  height:100%;
  border-radius: 5px;
}

/* ---------------Media Q---------------*/ 
@media (min-width: 810px) and (max-width: 974px){
    .ul-container{
        width: 60vw;
    }
}
@media (min-width: 920px) and (max-width: 1200px){
    .container-cards{
        width: 100% !important; 
        height: 700vh;
        margin: 0 !important;
        padding: 2 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important ;
    }
    .container-cards-past{
        display: flex !important;
        justify-content: center !important;
        height: 360vh;
    }
    .container-cards-upcomming{
        display: flex !important;
        justify-content: center !important;
        height: 360vh;
    }
    
    .card-image{
        height: 23vh;
        padding: 1vh !important;
    }
    .container-card{
        width: 50vw !important;
        margin: 4 !important;
        padding: 0 !important;
    }
    
    .container-header{
        background-color: rgba(146, 145, 145, 0.247) !important;
        height: 15vh;
    }
    .ul-container{
        width: 60vw;
    }
    #image-header{
        height: 3vh;
    }
    .container-search-bar{
        width: 40vw;
        padding: 3vh !important;
    }
    .container-check-search{
        height:5vh ; 
        width: 60vw;
        font-size: 1.1vh;
    }
    .container-check{
        height:5vh ; 
        width: 100%;
    }
    .container-footer{
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        
    }
    .p-footer{
        font-size: 2vh !important;
    }
    .logo-footer{
        height: 4vh;
        margin-left: 4vh;
    }
    .container-footer{
        height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;
        
    }
    .content-form{
        width: 70vw !important;
        padding: 5vh !important;
    }
    .container-card-detail{
        width: 100% !important; 
        height: 120vh;
        margin: 0 !important;
        padding: 0 !important;
        background-color: rgba(146, 145, 145, 0.247) !important;
        display: flex !important;
        flex-direction: column;
    }
    .card-detail{
        height: 100vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-imagencard{
        height: 40vh;
        width: 80vw !important;
        background-image: url(../images/Books.jpg);
        -webkit-box-shadow: -5px -8px 11px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -5px -8px 11px -3px rgba(0,0,0,0.75);
        box-shadow: -5px -8px 11px -3px rgba(0,0,0,0.75)
    }
    .container-imgn-card-detail{
        height: 40vh;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-txtcard{
        height: 40vh;
        width: 60vw;
        display: flex;
        background-color: rgb(206, 206, 206)
    }
    .container-table{
        width: 100% !important; 
        height: 100vh;
        margin: 0 !important;
        padding: 5vh !important;
        
    } 
  
}
    
@media (min-width: 412px) and (max-width: 920px){
    .container-boton{
        font-size: 1vh;
        display: flex;
        height: 2.1vh;
        align-items: center;
    }
    #image-header{
        height: 1.3vh;
    }
    .ul-container{
        width: 80vw;
    }
    .container-header{
        background-color: rgba(146, 145, 145, 0.247) !important;
        height: 11vh;
    }
    .container-nav{
        height: 8vh;
        padding: 1vh !important;
    }
    .container-search-bar{
        width: 60vw;
        padding: 1vh !important;
    }
    .container-check-search{
        height:70vh ;
        padding: 0vh !important;
        margin-left: 3vh;
        width: 100vw;
        font-size: 1.2vh;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between !important;
        align-items: flex-start!important;
    }
    .form-check-mu{
        margin: 0 !important;
    }
    .container-check{
        height:30vh ; 
        width: 100%;
        display: flex !important;
        flex-direction: column;
        padding: 1vh!important;
        align-items: flex-start!important;
    }
    .container-cards{
        width: 100% !important; 
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
        display: flex !important;
        justify-content: center !important ;
    }
    .container-cards-past{
        display: flex !important;
        justify-content: center !important;
        height: 360vh;
    }
    .container-cards-upcomming{
        display: flex !important;
        justify-content: center !important;
        height: 360vh;
    }
    .card-image{
        height: 23vh;
        padding: 1vh !important;
    }
    .container-card{
        width: 60vw !important;
        margin: 2 !important;
        padding: 0 !important;
    }
    .logo-footer{
        height: 4vh;
        margin-left: 4vh;
    }
    .p-footer{
        font-size: 1.4vh !important;
    }
    .content-form{
        width: 80vw !important;
        padding: 5vh !important;
    }
    .container-card-detail{
        width: 100% !important; 
        height: 80vh;
        margin: 0 !important;
        padding: 0 !important;
        background-color: rgba(146, 145, 145, 0.247) !important;
        display: flex !important;
        flex-direction: column;
    }
    .card-detail{
        height: 70vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-imagencard{
        height: 30vh;
        width: 80vw !important;
        background-image: url(../images/Books.jpg);
        -webkit-box-shadow: -5px -8px 11px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -5px -8px 11px -3px rgba(0,0,0,0.75);
        box-shadow: -5px -8px 11px -3px rgba(0,0,0,0.75)
    }
    .container-imgn-card-detail{
        height: 30vh;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-txtcard{
        height: 30vh;
        width: 60vw;
        display: flex;
        background-color: rgb(206, 206, 206);
        padding: 1vh!important;
    }
    .h1-card-detail{
        font-size: 3vh !important;
        text-align: center;
    } 
    .p-card-detail{
        font-size: 1.1vh !important;
    }
    .container-table{
        width: 100% !important; 
        height: 100vh;
        margin: 0 !important;
        padding: 5vh !important;
        
    } 
}